{% extends "bases/base.html" %}
{% load static %}    <!-- Cargamos el módulo de contenido estático -->

{% block content %}
<div class="container h-100">
    <div class="row h-50 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Control de acceso Covid-19</h1>
            <h1 class="text-uppercase text-white font-weight-bold">Evitemos la propagación</h1>
        </div>
    </div>
</div>
{% endblock %}
